
<app-header></app-header>
<form class = "formulario" action = "" [formGroup]="editCharacterForm">
    <div>
        <mat-form-field appearance="fill">
            <mat-label for="name">Nombre</mat-label>
            <input matInput type="text" formControlName="nameFormControl" [value]="editedCharacter.name">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Altura</mat-label>
            <input matInput type="text" formControlName="heightFormControl" [value]="editedCharacter.height">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Peso</mat-label>
            <input matInput type="text" formControlName="massFormControl" [value]="editedCharacter.mass">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Color de pelo</mat-label>
            <input matInput type="text" formControlName="hairColorFormControl" [value]="editedCharacter.hair_color">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Color de piel</mat-label>
            <input matInput type="text" formControlName="skinColorFormControl" [value]="editedCharacter.skin_color">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Color de ojos</mat-label>
            <input matInput type="text" formControlName="eyeColorFormControl" [value]="editedCharacter.eye_color">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Año de nacimiento</mat-label>
            <input matInput type="text" formControlName="birthdayFormControl" [value]="editedCharacter.birth_year">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Género</mat-label>
            <mat-select>
                <mat-option value="Masculino">Masculino</mat-option>
                <mat-option value="Femenino">Femenino</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Selecciona un planeta</mat-label>
            <mat-select formControlName="planetFormControl">
                <mat-option *ngFor="let planeta of planetList" [value]="editedCharacterPlanet">{{planeta.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Selecciona las películas</mat-label>
            <mat-select formControlName="filmFormControl" multiple>
                <mat-option *ngFor="let peli of filmList" [value]="peli.url">{{peli.title}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Selecciona las especies</mat-label>
            <mat-select formControlName="speciesFormControl" multiple>
                <mat-option *ngFor="let especie of speciesList" [value]="especie.url">{{especie.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Selecciona las naves</mat-label>
            <mat-select formControlName="starshipFormControl" multiple>
                <mat-option *ngFor="let nave of starshipList" [value]="nave.url">{{nave.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <mat-form-field appearance="fill">
        <mat-label>Seleciona los vehículos</mat-label>
        <mat-select formControlName="vehicleFormControl" multiple>
            <mat-option *ngFor="let vehiculo of vehicleList" [value]="vehiculo">{{vehiculo.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button style="width: 25%; margin:auto; margin-bottom: 10px;" mat-raised-button color="primary" type="submit" [disabled]="!editCharacterForm.valid">Editar</button>
</form>


