<app-header></app-header>
<form class = "formulario" action = "" [formGroup]="characterCreateForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
        <mat-label for="name">Nombre</mat-label>
        <input matInput type="text" formControlName="nameFormControl">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Altura</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Peso</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Color de pelo</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Color de piel</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Color de ojos</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Año de nacimiento</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Género</mat-label>
        <mat-select>
            <mat-option>Masculino</mat-option>
            <mat-option>Femenino</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Color de ojos</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Selecciona un planeta</mat-label>
        <mat-select formControlName="planetFormControl">
            <mat-option *ngFor="let planeta of planetList" [value]="planeta.url">{{planeta.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Selecciona las películas</mat-label>
        <mat-select formControlName="filmFormControl" multiple>
            <mat-option *ngFor="let peli of filmList" [value]="peli.url">{{peli.title}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Selecciona las especies</mat-label>
        <mat-select formControlName="speciesFormControl" multiple>
            <mat-option *ngFor="let especie of speciesList" [value]="especie.url">{{especie.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button style="width: 25%; margin:auto; margin-bottom: 10px;" mat-raised-button color="primary" type="submit" [disabled]="!characterCreateForm.valid">Crear</button>
</form>


