<div class = "dialogContainer">
    <img [src]="getActorPhoto(actor.profile_path)" alt="Foto de {{actor.name}}">
    <div mat-dialog-content>
        <h1 mat-dialog-title>{{actor.name}}</h1>
        <h2>Biografía</h2>
        <p>{{actor.biography}}</p>
        <h2>Conocido/a por</h2>
        <mat-tab-group mat-align-tabs="start">
            <ng-container *ngFor="let peli of info.known_for">
                <mat-tab *ngIf="peli.media_type == 'movie'" label="{{peli.title}}">
                    <div class="filmContainer">
                        <img [src]="getFilmPhoto(peli.poster_path)">
                        <div>
                            <p><strong>Título original: </strong>{{peli.original_title}}</p>
                            <p><strong>Sinopsis: </strong>{{peli.overview}}</p>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab *ngIf="peli.media_type == 'tv'" label="{{peli.name}}">
                    <div class="filmContainer">
                        <img [src]="getFilmPhoto(peli.poster_path)">
                        <div>
                            <p><strong>Título original: </strong>{{peli.original_name}}</p>
                            <p><strong>Sinopsis: </strong>{{peli.overview}}</p>
                        </div>
                    </div>
                </mat-tab>
            </ng-container>
        </mat-tab-group>
        
    </div>
</div>