<h1 mat-dialog-title>{{data.pokemonInfo.name}}</h1>
<div mat-dialog-content>
    <ul>
        <li>Peso: {{data.pokemonInfo.weight}} Kg</li>
        <li>Altura: {{data.pokemonInfo.height}} cm</li>
        <li>Experiencia base: {{data.pokemonInfo.base_experience}} xp</li>
        <li>Tipos.
          : </li>
        <ul *ngFor="let tipo of data.pokemonInfo.types">
          <li>{{tipo.type.name}}</li>
        </ul>
    </ul>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cerrar</button>
</div>