<mat-card>
    <mat-card-title>{{gasolinera['Rótulo']}}</mat-card-title>
    <mat-card-subtitle>Distancia de ti: {{distance | number: '1.2-2'}} km</mat-card-subtitle>
    <mat-card-subtitle>Dirección: {{gasolinera['Dirección']}}</mat-card-subtitle>
    <mat-card-subtitle>Provincia: {{gasolinera.Provincia}}</mat-card-subtitle>
    <mat-card-subtitle>Municipio: {{gasolinera.Municipio}}</mat-card-subtitle>
    <mat-card-content *ngIf="gasolinera['Precio Gasoleo A']==''; else elseBlock1">Precio Gasoleo A: No disponible</mat-card-content>
    <mat-card-content *ngIf="gasolinera['Precio Gasolina 95 E5']==''; else elseBlock2">Precio Gasolina 95 E5: No disponible</mat-card-content>
    <mat-card-content *ngIf="gasolinera['Precio Hidrogeno']==''; else elseBlock3">Precio Hidrógeno: No disponible</mat-card-content>
    <mat-card-content *ngIf="gasolinera['Precio Biodiesel']==''; else elseBlock4">Precio Biodiesel: No disponible</mat-card-content>

    <ng-template #elseBlock1>
        <mat-card-content>Precio Gasoleo A: {{gasolinera['Precio Gasoleo A']}} €</mat-card-content>
    </ng-template>
    <ng-template #elseBlock2>
        <mat-card-content>Precio Gasolina 95 E5: {{gasolinera['Precio Gasolina 95 E5']}} €</mat-card-content>
    </ng-template>
    <ng-template #elseBlock3>
        <mat-card-content>Precio Hidrógeno: {{gasolinera['Precio Hidrogeno']}} €</mat-card-content>
    </ng-template>
    <ng-template #elseBlock4>
        <mat-card-content>Precio Biodiesel: {{gasolinera['Precio Biodiesel']}} €</mat-card-content>
    </ng-template>
    <mat-card-content></mat-card-content>
</mat-card>
