<h1>BIENVENIDO/A</h1>

<div class="categorias">
    <button mat-raised-button color="warn" routerLink="/characters" routerLinkActive="active">PERSONAJES</button>
    <button mat-raised-button color="warn" routerLink="/planets" routerLinkActive="active">PLANETAS</button>
    <button mat-raised-button color="warn" routerLink="/films" routerLinkActive="active">PELÍCULAS</button>
    <button mat-raised-button color="warn" routerLink="/species" routerLinkActive="active">ESPECIES</button>
    <button mat-raised-button color="warn" routerLink="/starships" routerLinkActive="active">NAVES</button>
    <button mat-raised-button color="warn" routerLink="/vehicles" routerLinkActive="active">VEHÍCULOS</button>
</div>

