<h1>BIENVENIDO/A</h1>
<ul>
    <li><button mat-raised-button color="warn" routerLink="/characters" routerLinkActive="active">PERSONAJES</button></li>
    <li><button mat-raised-button color="warn" routerLink="/planets" routerLinkActive="active">PLANETAS</button></li>
    <li><button mat-raised-button color="warn" routerLink="/films" routerLinkActive="active">PELÍCULAS</button></li>
    <li><button mat-raised-button color="warn" routerLink="/species" routerLinkActive="active">ESPECIES</button></li>
    <li><button mat-raised-button color="warn" routerLink="/starships" routerLinkActive="active">NAVES</button></li>
    <li><button mat-raised-button color="warn" routerLink="/vehicles" routerLinkActive="active">VEHÍCULOS</button></li>
</ul>
