<mat-card class="tarjeta">
    <mat-card-header>
    <mat-card-title>{{pokemon.name}}</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="getPokemonPhoto(pokemon)" alt="Photo of {{pokemon.name}}">
    <mat-card-actions>
    <button mat-raised-button color="primary" (click)="getPokemonDetails(pokemon)">+INFO</button>
    <button mat-raised-button color="warn" (click)="selectPokemon(pokemon)">Seleccionar</button>
    </mat-card-actions>
</mat-card>

