.ejercicio2 {
    width: 60%;
    margin: auto;
}

.margenVisible {
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
    width: 50%;
    margin: auto;
}

.margenNoVisible {
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
    border-bottom: none;
    width: 50%;
    margin: auto;
}

.bodyVisible {
    display:block;
    box-shadow: 5px;
    border: 2px solid red;
    border-top: none;
    width: 50%;
    margin: auto;
}

.bodyNoVisible {
    display: none;
}

