<div class="ejercicio2">
    <h2>Ejercicio 2</h2>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>LOREM</mat-panel-title>

            </mat-expansion-panel-header>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel natus quia earum amet nihil consectetur, nesciunt velit facilis repudiandae. Ipsum autem quo ducimus facere perspiciatis placeat error laboriosam, voluptate ad?</p>
        </mat-expansion-panel>
    </mat-accordion>

</div>
