.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

app-una-gasolinera {
    width: 25%;
}

.filtroPrecio {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}