<div class="filtroPrecio">
  <div>
    <p>Selecciona un precio máximo</p>
    <mat-slider
      [(ngModel)]="precio"
      thumbLabel
      [displayWith]="formatLabel"
      tickInterval="1"
      step="0.001"
      [min]="0"
      [max]="5"
      aria-label="units"
      (valueChange)="priceFilter()"
    ></mat-slider>
    <div>
      <button *ngIf="precio != 0" mat-raised-button color="primary" (click)="sorting()">Ordenar por precio{{orden}}</button>
    </div>
  </div>
  <mat-select
    class="tipoCombustible"
    name="Selecciona el precio"
    [(ngModel)]="fuelAttr"
  >
    <mat-option *ngFor="let atributo of fuelAttr | keyvalue" [value]="atributo.key">{{atributo.key}}</mat-option>
    <!-- <mat-option [value]="fuelAttr['Precio Gasoleo A']">Gasoleo A</mat-option>
    <mat-option [value]="fuelAttr['Precio Gasolina 95 E5']">Gasolina 95 E5</mat-option>
    <mat-option [value]="fuelAttr['Precio Hidrogeno']">Hidrogeno</mat-option> -->
  </mat-select>
  <mat-select class="provincia" [(ngModel)]="provinceSelected" (selectionChange)="provinceFilter()">
    <mat-option value="''">Todas las provincias</mat-option>
    <mat-option *ngFor="let provincia of provinceList" [value]="provincia.Provincia">{{provincia.Provincia}}</mat-option>
  </mat-select>
  <form class="example-form" *ngIf="provinceSelected != ''">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Municipio</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
<div class="container">
  <app-una-gasolinera
    *ngFor="let gas of gasListFiltered"
    [gasolinera]="gas"
  ></app-una-gasolinera>
  <h1 style="text-align: center;"*ngIf="gasListFiltered.length == 0" >No se encuentran gasolineras con los criterios de búsqueda</h1>
</div>
