<mat-toolbar color="warn">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>PelisPelis</span>
    <span class="example-spacer"></span>
    <button mat-raised-button routerLink="/login" routerLinkActive="active" *ngIf="sessionID == null; else elseBlock" (click)="requestToken()">Iniciar Sesión</button>
    <ng-template #elseBlock>
        <div>
            <p>{{userName}}</p>
            <img [src]="avatarPath">
            <button mat-raised-button (click)="deleteSession()">Log Out</button>
        </div>
    </ng-template>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>

<div class="container">
    <h1>Listado de actores populares</h1>
    <mat-button-toggle-group class="pagination" name="paginacionActores" aria-label="Paginación de actores">
        <mat-button-toggle (click)="getPopular(1)" [disabled]="page == 1">&#60;&#60;</mat-button-toggle>
        <mat-button-toggle (click)="getPopular(page - 1)" [disabled]="page == 1">&#60;</mat-button-toggle>
        <ng-container *ngFor="let pagina of numPages(); let i = index">
            <mat-button-toggle *ngIf="i <= page && i >= page-2" [checked]="page == i+1" (click)="getPopular(i+1)">{{i+1}}</mat-button-toggle>
        </ng-container>
        <mat-button-toggle (click)="getPopular(page + 1)" [disabled]="page == totalPages">&#62;</mat-button-toggle>
        <mat-button-toggle (click)="getPopular(totalPages)" [disabled]="page == totalPages">&#62;&#62;</mat-button-toggle>
    </mat-button-toggle-group>
    <div class = "listado">
        <app-one-actor class="tarjeta" *ngFor="let actor of listadoActores" [actor]="actor"></app-one-actor>
    </div>
    <mat-button-toggle-group class="pagination" name="paginacionActores" aria-label="Paginación de actores">
        <mat-button-toggle (click)="getPopular(1)" [disabled]="page == 1">&#60;&#60;</mat-button-toggle>
        <mat-button-toggle (click)="getPopular(page - 1)" [disabled]="page == 1">&#60;</mat-button-toggle>
        <ng-container *ngFor="let pagina of numPages(); let i = index">
            <mat-button-toggle *ngIf="i <= page && i >= page-2" [checked]="page == i+1" (click)="getPopular(i+1)">{{i+1}}</mat-button-toggle>
        </ng-container>
        <mat-button-toggle (click)="getPopular(page + 1)" [disabled]="page == totalPages">&#62;</mat-button-toggle>
        <mat-button-toggle (click)="getPopular(totalPages)" [disabled]="page == totalPages">&#62;&#62;</mat-button-toggle>
    </mat-button-toggle-group>
</div>