.container {
    width: 90%;
    margin: auto;
}

.listado {
    display: flex;
    flex-wrap: wrap;
}

.tarjeta {
    width: 25%;
}

.pagination {
    position: relative;
    left: 70%;
    margin-bottom: 30px;
    margin-top: 30px;
}

.example-spacer {
    flex: 1 1 auto;
}