<div class="container">
    <h1>Listado de actores populares</h1>
    <mat-button-toggle-group name="paginacionActores" aria-label="Paginación de actores">
        <mat-button-toggle (click)="getPopular(1)" [disabled]="page == 1">&#60;&#60;</mat-button-toggle>
        <mat-button-toggle (click)="getPopular(page - 1)" [disabled]="page == 1">&#60;</mat-button-toggle>
        <mat-button-toggle *ngIf="page < 1" (click)="getPopular(page - 2)" >{{page - 2}}</mat-button-toggle>
        <mat-button-toggle *ngIf="page < 1" (click)="getPopular(page - 1)" >{{page - 1}}</mat-button-toggle>
        <mat-button-toggle (click)="getPopular(page)" [checked]="page==page" >{{page}}</mat-button-toggle>
        <mat-button-toggle *ngIf="page < totalPages - 1" (click)="getPopular(page + 1)" >{{page + 1}}</mat-button-toggle>
        <mat-button-toggle *ngIf="page < totalPages - 1" (click)="getPopular(page + 2)" >{{page + 2}}</mat-button-toggle>
       <!--<mat-button-toggle *ngFor="let pagina of numPages(); let i = index" (click)="getPopular(i+1)" [checked]="page == i+1" >{{i+1}}</mat-button-toggle>-->
        <mat-button-toggle (click)="getPopular(page + 1)" [disabled]="page == totalPages">&#62;</mat-button-toggle>
        <mat-button-toggle (click)="getPopular(totalPages)" [disabled]="page == totalPages">&#62;&#62;</mat-button-toggle>
    </mat-button-toggle-group>
    <div class = "listado">
        <app-one-actor *ngFor="let actor of listadoActores" [actor]="actor" ></app-one-actor>
    </div>
</div>